{#
@path: /src/AdminBundle/Resources/views/Default/index.html.twig
@author: Loiy Shen <web@loiy.net>
#}
{% extends "AdminBundle::layout.html.twig" %}

{% block title %}管理首页 - Admin{% endblock %}


{% block content %}
    
    <h1>The Home Page</h1>
    <h2>Client IP: {{ client_ip }}</h2>
    
{% endblock %}