{#
@path: /src/FrontendBundle/Resources/views/Default/index.html.twig
@author: Loiy Shen <web@loiy.net>
#}
{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Home Page Title{% endblock %}


{% block main %}
    <h1>The Home Page</h1>
{% endblock %}