{#
@path: /src/AdminBundle/Resources/views/Common/footer.html.twig
@author: Loiy Shen <web@loiy.net>
#}
<div class="text-center">
    Copyright &copy; {{ "now"|date("Y") }} <a href="http://loiy.net">Loiy.Net</a>, All rights reserved.
</div>
